<div class="jumbotron">
    <h1>Authorization Server</h1>
    <pre>
    <b>Request:  To login or get jwt token</b>
    POST: http://localhost:55812//oauth2/token
    username:sagar@gmail.com
    password:Sagar@123
    grant_type:password
    client_id:webapi
    </pre>
</div>
<div class="row">  
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>This server is build with below reference</p>
        <p><a class="btn btn-default" href="https://github.com/tjoudeh/JWTAspNetWebApi">Learn more &raquo;</a></p>
    </div>
</div>
